@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
html {
  font-size: 62.5%;
  font-family: "Manrope", sans-serif;
}

body {
  padding: 5.7rem 2.4rem 8.8rem;
  background-color: hsl(230deg, 100%, 99%);
  background-image: url(../images/bg-pattern.svg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1440px) {
  body {
    background-size: contain;
  }
}

header {
  background-image: url(../images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
  min-height: 14.5rem;
}
header h1 {
  font-size: 2rem;
  line-height: 2.7rem;
  color: hsl(227deg, 35%, 25%);
  margin-top: 3.2rem;
}
header p {
  font-size: 1.3rem;
  line-height: 2.3rem;
  color: hsl(225deg, 20%, 60%);
  max-width: 18rem;
  margin: 0.8rem auto 0;
}
@media screen and (min-width: 1440px) {
  header h1 {
    font-size: 2.8rem;
  }
  header p {
    max-width: unset;
    font-size: 1.5rem;
  }
}

.container {
  width: 100%;
  max-width: 50rem;
  margin-top: 3.2rem;
  text-align: center;
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 0px 2rem 3rem -0.5rem rgba(127, 137, 185, 0.152073);
  border-radius: 0.8rem;
}
@media screen and (min-width: 1440px) {
  .container {
    min-width: 54rem;
  }
}
.container__pricing h4 {
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.171429rem;
  text-transform: uppercase;
  margin: 3.4rem 0 2.5rem;
  color: hsl(225deg, 20%, 60%);
}
.container__pricing--slider {
  margin: 0 2.4rem;
}
.container__pricing--slider input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 0.8rem;
  background-color: hsl(224deg, 65%, 95%);
  border-radius: 0.5rem;
}
.container__pricing--slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background: url(../images/icon-slider.svg), hsl(174deg, 86%, 45%);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 1.5rem 3rem rgba(0, 255, 231, 0.6);
}
.container__pricing--monthly {
  margin: 2.4rem 0 3.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: hsl(225deg, 20%, 60%);
}
.container__pricing--monthly span {
  font-size: 3.2rem;
  line-height: 4.4rem;
  text-align: right;
  letter-spacing: -0.08rem;
  color: hsl(227deg, 35%, 25%);
  margin-right: 1rem;
}
@media screen and (min-width: 1440px) {
  .container__pricing {
    padding: 0 4.8rem;
    display: grid;
    grid-template-columns: auto auto;
  }
  .container__pricing h4 {
    font-size: 1.4rem;
    order: 1;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 5.8rem 0 4.2rem;
    text-align: left;
  }
  .container__pricing--slider {
    order: 3;
    grid-column: 1/3;
    grid-row: 2/3;
    margin: 0;
    margin-bottom: 4.1rem;
  }
  .container__pricing--monthly {
    order: 2;
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 4rem 0 2.4rem;
    justify-content: flex-end;
  }
}
.container__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.8rem;
}
@media screen and (min-width: 1440px) {
  .container__checkbox {
    justify-content: end;
    margin-right: 4.8rem;
  }
}
.container__checkbox p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: hsl(225deg, 20%, 60%);
  height: 1.9rem;
}
.container__checkbox p .discount {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: hsl(14deg, 92%, 95%);
  border-radius: 0.95rem;
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.4rem;
  color: hsl(15deg, 100%, 70%);
  height: 1.9rem;
  margin-left: 0.5rem;
}
.container__checkbox p .discount.mobile {
  width: 4.2rem;
}
.container__checkbox p .discount.desktop {
  display: none;
}
@media screen and (min-width: 1440px) {
  .container__checkbox p .discount.mobile {
    display: none;
  }
  .container__checkbox p .discount.desktop {
    width: 8rem;
    display: inline-block;
  }
}
.container__checkbox--check {
  position: relative;
  display: inline-block;
  width: 4.3rem;
  height: 2.2rem;
  margin: 0 1.2rem;
}
.container__checkbox--check input {
  margin: 5px 0 15px 0;
  opacity: 0;
  width: 0;
  height: 0;
}
.container__checkbox--check .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.container__checkbox--check .slider:before {
  position: absolute;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
.container__checkbox--check input:checked + .slider {
  background-color: hsl(174deg, 86%, 45%);
}
.container__checkbox--check input:checked + .slider:before {
  transform: translateX(2.1rem);
}
.container__checkbox--check .slider.round {
  border-radius: 1.5rem;
}
.container__checkbox--check .slider.round:before {
  border-radius: 50%;
}
.container__info {
  margin-top: 2.4rem;
}
.container__info--text {
  padding-top: 1.4rem;
  border-top: 1px solid hsl(224deg, 65%, 95%);
}
.container__info--text p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: hsl(225deg, 20%, 60%);
  margin: 1rem 0;
}
.container__info--text p span img {
  display: inline;
  margin-right: 1.6rem;
}
.container__info button {
  margin: 3.2rem 0;
  padding: 1.2rem 4.6rem;
  color: hsl(226deg, 100%, 87%);
  background: #293356;
  border: none;
  border-radius: 2.05rem;
  font-size: 1.2rem;
}
.container__info button:hover {
  cursor: pointer;
}
@media screen and (min-width: 1440px) {
  .container__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    margin-bottom: 3.2rem;
    border-top: 1px solid hsl(224deg, 65%, 95%);
  }
  .container__info--text {
    border-top: none;
  }
}/*# sourceMappingURL=style.css.map */